node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE and Editor files
.idea/
.fleet/
.run/
.parcel-cache/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo

# Build and cache
.svelte-kit/
.cache/
dist/